# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
pids
*.pid
*.seed
*.pid.lock

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Build output
dist/
coverage/

# Dependency files
package-lock.json
yarn.lock
